<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3 style="text-align: center;">Login</h3><hr>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email"/>
        <div *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid">
          <div *ngIf="loginForm.get('email')?.errors?.required" style="color: red;">
            Email is Required</div>
          <div *ngIf="loginForm.get('email')?.errors?.email" style="color: red;">
            Invalid email</div>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password"/>
        <div *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid">
          <div *ngIf="loginForm.get('password')?.errors?.required" style="color: red;">
            Password is Required</div>

        </div>
      </div>

      <div class="mb-3">
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
      </div>

    </form>
  </div>
</div>
